.clients{
    padding-top : var(--section-pt-pb);
    padding-bottom : var(--section-pt-pb);
}

.clients__header{
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--text-color);
}

.clients-list{
    display: flex;
    justify-content: center;
}

.clients-list__item--link{
    display:flex;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    width: 170px;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #afb1b8;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus{
        border-color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.clients-list__item{
    &:not(:last-child) {
        margin-right: var(--section-mr);
    }
}