.description{
    padding-top : var(--section-pt-pb);
    padding-bottom: var(--section-pt-pb);
}

.description-list{
    display: flex ;
    align-items: center;
    justify-content: center;
}

.description-list__title{
    width: 270px;

   &:not(:last-child){
        margin-right: var(--section-mr);
    } 
}

.description-list__title-icon{
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: var(--section-mr);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-list--icon{
    width: 70px;
    height: 70px;
}

.description-list__header-text{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--text-color);
}

.description-list__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    color: #757575;
}