.usteam{
    background: var(--background-color);
    padding-top : var(--section-pt-pb);  
    padding-bottom: var(--section-pt-pb);
}

.usteam-list{
    display: flex;
    margin: -30px 0 0 0;
}

.usteam-blok{
    margin: var(--section-mr) var(--section-mr) 0 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc(100% / 4 - 30px);
    
    &:not(:last-child){
        margin-right: 30px;
    }
}

.usteam__header{
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.usteam-item{
    padding: var(--section-mr) 0 var(--section-mr) 0 ;
    background: var(--title-color);
}

.usteam-soctial{
    display: flex;
    justify-content: center;
}

.usteam-soctial__icon{
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.usteam-item__name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}

.usteam-item__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
    color: #757575;
}