.uswork{
    padding-bottom : var(--section-pt-pb);
}

.uswork__header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;

    color: var(--text-color);
}

.uswork-list{
    display: flex ;
    align-items: center;
}

.uswork-list__text{
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-color);
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    padding-top: 27px;
}

.uswork-list__img{
    position: relative;
     
    &:not(:last-child){
        margin-right: var(--section-mr);
    }
}