.container{
    padding-left: 15px;
    padding-right: 15px;
     
}

@media screen and (min-width: 320px) {
    .container{
        max-width: 480px;
        margin: 0 auto;
        
            .header &{
            display: flex;
            align-items: center;
            justify-content: space-between;
            }

        .hero &,
        .section &,
        .usteam{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

    .uswork{
        display: none;
    }
}

@media screen and (max-width: 767px){
    .container{
        .footer &{
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
        
        .header &{
            display: flex;
            align-items: center;
        }

        .footer &{ 
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items:flex-start;
            justify-content: center;

        }
    }

    
}

@media screen and (min-width: 1200px) {
    .container{
        max-width: 1200px;

    }

    .uswork{
        display: block;
    }
}
