:root {
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196F3;
    --text-color:#212121;
    --title-color:#FFFFFF;
    --background-color: #F5F4FA;
    --section-pt-pb: 94px;
    --section-mr: 30px;
}